@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "RobotoMono", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

aside {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

#content {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding: 2rem 10rem 2rem 2rem;
  border: 1px solid black;
}

#toDoTitle, #projectTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#newTask, #newProject {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
}

#newTask:hover, #newProject:hover {
  background-color: lightgrey;
}

#content > div, ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  gap: 0.5rem;
  width: 90%;
  padding: 0;
}

.projectName, .taskCard {
  list-style: none;
  width: 100%;
  border: 1px solid black;
}

.projectName {
  text-align: start;
}

.projectButton, .editProjectButton, .editTaskButton {
  background-color: transparent;
  border: none;
  font-size: 18px;
  width: 90%;
  text-align: start;
}

.editProjectButton {
  width: 10%;
  text-align: center;
}

.editProjectButton > svg:hover, .editTaskButton > svg:hover {
  fill: red;
}

#toDoUl, #doingUl, #doneUl {
  list-style: none;
  text-align: center;
}

.taskCard {
  list-style: none;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.editTaskButton{
  width: 1rem;
}
dialog {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  position: fixed;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.create, .cancel {
  background-color: white;
  font-size: 1.2rem;
}

.create:hover, .cancel:hover {
  background-color: black;
  color: white;
}
